<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Статистика</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body>

<div th:insert="blocks/nav :: nav"></div>

<main class="page cv-page mt-5">
    <section class="portfolio-block cv">
        <div class="container">
            <div class="work-experience group">
                <h2 class="text-center">СТАТИСТИКА</h2>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col">
                        <h3 class="fs-4">Суммарная прибыль</h3>
                    </div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col">
                        <span th:text="${sum}" class="fs-5">Text</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col">
                        <h3 class="fs-4">Название</h3>
                    </div>
                    <div class="col">
                        <h3 class="fs-4">Цена</h3>
                    </div>
                    <div class="col">
                        <h3 class="fs-4">Количество проданных</h3>
                    </div>
                    <div class="col">
                        <h3 class="fs-4">Прибыль</h3>
                    </div>
                </div>
            </div>
            <div class="item">
                <div th:each="stat : ${stats}" class="row">
                    <div class="col"><span th:text="${stat.tool.name}" class="fs-5">Text</span></div>
                    <div class="col"><span th:text="${stat.tool.price}" class="fs-5">Text</span></div>
                    <div class="col"><span th:text="${stat.quantity}" class="fs-5">Text</span></div>
                    <div class="col"><span th:text="${stat.income}" class="fs-5">Text</span></div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer th:insert="blocks/footer :: footer" class="page-footer"></footer>

<div th:insert="blocks/scripts :: scripts"></div>

</body>

</html>